#cocktailPageMainDiv{
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    overflow:hidden;
    height:100%;
}

#previewDiv{
    position:relative;
    background-image:linear-gradient(#434a5a, #000000);
    color:whitesmoke;
    width:90%;
    height:400px;
    border-radius:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    z-index:10;
    margin-bottom:10px;
}

#objDiv{
    position:relative;
    width:350px;
    height:350px;
    top:160px;
   
}

#cocktailDesc{
    position:relative;
    left:20px;
    margin-bottom:50px;
    font-size: 30px;
}

#contentInfo{
    position:relative;
    width:90%;
    height:200px;
    bottom:20px;
    text-align:left;
}

#buttonDiv{
    position:relative;
}